<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bb9bf">  <td>23/02/27 19:09:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:mohammadashpakacademy.AshpakFlipkart.Flipkartorder@1a942c18]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1267556427</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>23/02/27 19:09:30</td>   <td>-5069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flipkartorder.orderPlacing(java.util.HashMap)[pri:0, instance:mohammadashpakacademy.AshpakFlipkart.Flipkartorder@1a942c18]">orderPlacing</td> 
  <td>main@1267556427</td>   <td></td> </tr>
</table>
